* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box; max-width: auto; max-height: fit-content;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffe602;
    color: #333;
    text-align: center;
}

header {
    background-color: #333;
    color: #ffe602;
    padding: 0;
}

header h1,
header h2 {
    margin: 0;
}

nav {
    background-color: #444;
    padding: 0.5rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

nav ul li a:hover {
    background-color: #555;
}


@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex; 
        position: static;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 999;
    }

    nav ul {
        display: flex; 
        background-color: #333;
        position: absolute;
        top: 60px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }

    nav ul li {
        display: flex;
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px;
    }

    nav.active ul {
        display: flex; 
    }
}

main {
    padding: 20px;
    text-align: justify;
}

.pengenalan,
.why-choose-us,
.tujuan,
.contact-form {
    margin-bottom: 20px;
}

.pengenalan img,
.tujuan-satu img,
.tujuan-dua img,
.tujuan-tiga img {
    max-width: 100%;
    height: auto;
    display: flex;
    border-radius: 5%;
    margin: 0 auto 10px; 
}

.pengenalan {
    background-color: #fff;
    padding: 20px;
    border-radius: 2cqmax;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.why-choose-us {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tujuan {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tujuan-satu,
.tujuan-dua,
.tujuan-tiga {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f8e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(44, 0, 240, 0.1);
}

.tujuan-satu img,
.tujuan-dua img,
.tujuan-tiga img {
    margin-bottom: 10px;
}

.contact-form {
    background-color: #58ffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form input[type="date"],
.contact-form input[type="time"],
.contact-form input[type="range"],
.contact-form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.contact-form .btn-primary {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.client-support button {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    transition: background-color 0.3s;
}

.client-support button:hover {
    background-color: #0056b3;
}

.bird-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.bird-icon img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bird-icon img:hover {
    transform: scale(1.4);
}
